body{
    background-color: rgb(201, 136, 57);
    color: rgb(27, 23, 23);
}

.entete{
    background-image: url("feuille.png");
    font-weight:bolder;
    
    display: flex;
    justify-content: center;
}
h1{
    margin: 0%;
    padding: 0%;
    margin-right: 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 9, 9);
    display: flex;
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
}

nav div:nth-of-type(n+2){
    margin-left: 10px;
}
a:hover{
    text-shadow:5px 5px 5px black;
}
a{
    color: rgb(49, 9, 29);
    text-decoration: none;

}
a:active{
    text-decoration: none;
    color: none;
}
.introduction{
    font-style: oblique;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.introduction div:only-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.incontournable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.incontournable div:first-child{
    margin-top: 40px;
    margin-left: 200px;
    font-size: small;
}
li{
    list-style: none;
}
.incontournable ul{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: larger;
  
}
.incontournable ul li:nth-child(2){
    margin-left: 100px;
}
.pictures
{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pictures div:nth-child(2) div:first-child{
    overflow: hidden;
    padding: 0%;
    border-radius: 50px;
    border-color: brown;
    border-width: 0.5px;
}
.pictures div:nth-child(3) div:first-child{
    overflow: hidden;
    padding: 0%;
    border-radius: 50px;
    border-color: brown;
    border-width: 0.5px;
}
.titre_image{
    color: brown;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.transport{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transport div:nth-child(2)
{
    display: flex;
    font-style: oblique;
    font-weight: lighter;
    font-size: 25px;
}
.conseils
{
    
    display: flex;
    justify-content: center;
    margin-right: 300px;

}
.conseils ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px;
}
.ref{
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 400px;
}
footer
{
    background-image: url("feuille.png");
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
    margin-right:5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#interet , #image , #chemin , #conseils , #references 
{
    color: rgb(27, 4, 4);
    font-size: 26px;
}
