body {
	transform: rotate(5deg);
	background-color: lightyellow;
	color: #80b215;
	font-family: serif;
}

h1 {
	color: rgb(9, 153, 61);
}

h2 {
	font-size: 26px;
	color: goldenrod;
}

a {
	color: #c64193;
}

a:hover {
	text-shadow: -2px -2px 3px;
}

figure img {
	display: block;
	margin: auto;
	border: 5px double greenyellow;
}

figcaption {
	font-size: small;
	text-align: center;
}

strong {
	text-decoration: underline double;
	font-style: oblique;
}

#introduction {
	font-style: italic;
}

.interet {
	text-decoration: underline overline;
}

.repere {
	height: 50px;
	float: right;
}

hr {
	transform: rotate(120deg);
}
