* {
	box-sizing: border-box;
	margin: 0;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: -1;
	height: 100vh;

	background-color: beige;
	border: 5px dashed burlywood;
	color: maroon;
}

header * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: 5vw;
	margin-bottom: 50px;
}

header hr {
	border: 1px solid burlywood;
	width: 30vw;
	margin: 0px auto;
}

header p {
	text-align: center;
	width: 30vw;
	margin: 0px auto;
}

.content {
	display: flex;
	align-items: stretch;
	min-height: 100vh;
	padding: 50px;
}

.content:nth-child(2n + 1) {
	background-color: lightyellow;
}

.content:nth-child(2n) {
	background-color: beige;
}

.content img {
	width: 70vw;
	background-color: lightgrey;
	height: calc(100vh - 100px);
	object-fit: cover;
}

.site {
	display: flex;
	flex-direction: column;
	width: 30vw;
	color: maroon;
}

.title {
	padding: 5px;
	background-color: moccasin;
	font-size: xx-large;
	font-weight: bold;
}

.description {
	padding: 5px;
	flex: 1;
}

.content:nth-child(2n) .description {
	background-color: lightyellow;
}

.content:nth-child(2n + 1) .description {
	background-color: beige;
}

.author {
	background-color: maroon;
	color: white;
	padding: 10px;
}

a {
	text-decoration: none;
}
