/* Pour qcm, Pierre Boudes, GPL v3 */
#board .qcmactive, #board.qcmactive {
    cursor: pointer;
}
#board .qcmactive:hover, #board.qcmactive:hover {
    background-color: #EEEEEE;
}

#score {
  background-color: black;
  color: #EEEEEE;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 2em;
}
#board {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 1.5em;
  padding: 2px;
}
#board p {
  font-size: 1em;
  margin-bottom:  
}
#board ul {
  list-style-type: square;
}
#board code, #board pre {
  font-size: 1em;
}
#boardbool {
 font-family: 'IM Fell DW Pica', serif; /* pas mal, mais mélange de styles... */
/*  position: absolute; */
  z-index: 2;
 font-size: 4em;
  width: 4em;
 float: right;
 margin-right: 1em;
 -webkit-transition: color 1s ease-in-out;
 -moz-transition: color 1s ease-in-out;
 -o-transition: color 1s ease-in-out;
 -webkit-transform: rotate(90deg) translate(0em);
 -webkit-transform-origin: 100% 0%;
 -moz-transform: rotate(90deg) translate(0em);
 -moz-transform-origin: 100% 0%;
 -o-transform: rotate(90deg) translate(0em);
 -o-transform-origin: 100% 0%;
/* border: thin blue dashed; */
 color: white;
}
#boardbool.anime {
 color: black;
}

@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: normal;
  src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url('http://themes.googleusercontent.com/static/fonts/imfelldwpica/v1/W81bfaWiUicLSPbJhW-ATsNjsTx6ZoI2z6IMp481VaU.ttf') format('truetype');
}
