* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#slide1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url("huître\ d\'arrière\ plan.jpg");
	background-position: center;
	background-size: 30%;
}

#slide1 div {
	font-size: 50px;
}

#content {
	background-color: white;
	margin-top: 100vh;
}

.quotes {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: white;
}

.quotes div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 0px 100px;
	font-family: cursive;
	font-size: 30px;
}

#quote1 {
	background-color: royalblue;
}

#quote2 {
	background-color: rebeccapurple;
}

#quote3 {
	background-color: crimson;
}

#quote4 {
	background-color: darkorange;
}

.quotes div:nth-child(2n) {
	justify-content: flex-start;
}

.quotes div:nth-child(2n + 1) {
	justify-content: flex-end;
}

#adoptez {
	display: flex;
	height: 100vh;
}

#adoptez div {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: salmon;
	color: white;
	font-family: cursive;
	overflow: hidden;
}

#adoptez h1 {
	transform: rotate(90deg);
	font-size: 7rem;
}

#navigo {
	display: flex;
	height: 100vh;
	flex: 1 auto auto 1;
	flex-direction: row;
	flex-wrap: wrap;
}
